In [11]:
# I used all the data I collected for this query to generate a deeper insight

# Business Question:
# Which NBA teams have the strongest jersey sales presence over time, and how do jersey sales relate to team performance and social media following?
# Objective: Identify what drives jersey sales — is it on-court performance or online popularity — to help stakeholders prioritize brand partnerships and fan engagement efforts.
# Decision Support: Help marketing teams allocate budgets toward teams or players with high merchandise ROI potential.

# Query:
# Aggregate historical jersey sale appearances per team, and compare those results with team performance (wins since 2000) and social media follower totals.

import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://tracy_mcgrady:shaq_attack123@nba-project.c7g8wiquaqg7.us-east-1.rds.amazonaws.com:5432/tmac?sslmode=require")

query = '''
WITH all_time_performance AS (
    SELECT 
        team_name,
        SUM(wins) AS total_wins
    FROM sql_project.nba_standings_data
    WHERE season >= '2000-2001'
    GROUP BY team_name
),
performance_rank AS (
    SELECT 
        team_name,
        total_wins,
        RANK() OVER (ORDER BY total_wins DESC) AS performance_rank
    FROM all_time_performance
),
social_media AS (
    SELECT 
        t.team_full_name AS team_name,
        COALESCE(r.reddit_subscribers, 0) +
        COALESCE(CAST(x.x_followers_millions * 1000000 AS BIGINT), 0) +
        COALESCE(CAST(REPLACE(y.subscribers_thousands, ',', '')::float * 1000 AS BIGINT), 0) AS total_social_followers
    FROM sql_project.nba_teams t
    LEFT JOIN sql_project.reddit_fan_metrics r ON t.team_full_name = r.team_name
    LEFT JOIN sql_project.x_statistics x ON t.team_full_name = x.team_name
    LEFT JOIN sql_project.nba_youtube_statistics y ON t.team_full_name = y.team_name
),
social_ranked AS (
    SELECT 
        team_name,
        total_social_followers,
        RANK() OVER (ORDER BY total_social_followers DESC) AS social_rank
    FROM social_media
),
jersey_data AS (
    SELECT 
        team_name,
        COUNT(*) AS top_jersey_appearances
    FROM sql_project.jersey_sales
    GROUP BY team_name
),
combined AS (
    SELECT 
        j.team_name,
        j.top_jersey_appearances,
        p.performance_rank,
        p.total_wins,
        s.social_rank,
        s.total_social_followers
    FROM jersey_data j
    LEFT JOIN performance_rank p ON j.team_name = p.team_name
    LEFT JOIN social_ranked s ON j.team_name = s.team_name
)
SELECT * FROM combined
ORDER BY top_jersey_appearances DESC;
'''

df = pd.read_sql(query, engine)
pd.set_option('display.max_rows', None)
df

# Insights:
# - The Lakers lead all teams in jersey appearances, driven by both elite social media presence and consistent winning.
# - The Grizzlies and Hornets appear frequently despite lower performance and follower ranks — indicating player-driven sales (e.g., Ja Morant, LaMelo Ball).
# - Some successful teams like the Spurs have fewer jersey appearances — suggesting performance doesn't always drive merchandise sales.

# Recommendation:
# - Double down on marketing for teams with both strong player brands and high online engagement.
# - Consider collaborations with individual players even if their team’s performance is average.
# - Investigate underperforming teams with large fanbases (e.g., Knicks) for branding opportunities.

# Prediction:
# - Continued jersey sales growth will align more with player influence and social engagement than historical wins.
# - Optimizing campaigns based on social rank + jersey trends can increase ROI for merch-focused initiatives.
*/

,team_name,top_jersey_appearances,performance_rank,total_wins,social_rank,total_social_followers
0,Los Angeles Lakers,15,7,1026.0,1,14467188
1,Golden State Warriors,8,15,918.0,2,12220787
2,Boston Celtics,6,2,1115.0,5,5933844
3,Philadelphia 76ers,5,21,862.0,14,3245449
4,Phoenix Suns,5,11,986.0,19,2750453
5,Milwaukee Bucks,4,6,1027.0,18,2860809
6,Memphis Grizzlies,3,13,945.0,28,1662071
7,Denver Nuggets,3,4,1067.0,17,2947095
8,Charlotte Hornets,3,29,412.0,26,1926322
9,New York Knicks,2,23,838.0,13,3391909
10,Dallas Mavericks,2,3,1092.0,9,4080777
11,Miami Heat,2,8,1023.0,3,6744911
12,Brooklyn Nets,2,28,452.0,10,4057585
13,San Antonio Spurs,2,1,1209.0,11,3752717
14,Oklahoma City Thunder,1,27,699.0,7,4393645
15,Chicago Bulls,1,22,854.0,4,5989967
16,Portland Trail Blazers,1,18,909.0,15,3116160
17,Sacramento Kings,1,23,838.0,16,3091346
18,Minnesota Timberwolves,1,25,827.0,20,2606318